<h2><%= @restaurant.name %></h2>
<p>Adress: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<p>Reviews of the restaurant :</p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  	<li class="list-group-item"><%= review.rating %></li>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>


<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>